@font-face {
  font-family: 'FuturaCondensedNormal';
  font-weight: 400;
  src: url('/static/fonts/FuturaCondensedNormal.woff') format('woff');
}

@font-face {
  font-family: 'Desdemona';
  font-weight: 400;
  src: url('/static/fonts/desdemona.ttf') format('truetype'),
       url('/static/fonts/desdemona.woff') format('woff');
}

@darkgreen: #2b4444;
@green: #68a390;
@pink: #ddb7ac;
@purple: #503952;

.relative {
    position: relative;
}

.glyphicon-remove.form-control-feedback {
    display: none;
    right: 10px;
}

.relative .glyphicon-remove.form-control-feedback {
    right: 0px;
}

.has-error .glyphicon-remove.form-control-feedback {
    display: block;
}

.sub-heading {
    margin-bottom: 20px;
    font-size: 18px;
}

.slide-right {
    animation: slide-right 1s forwards;
    -webkit-animation: slide-right 1s forwards;
}

@keyframes slide-right {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-right {
    0% { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
}

.error {
    color: red;
    display: none;
    float: left;
}

.success {
    color: #2e6da4;
    display: none;
    float: left;
    font-size: 1.5rem;
}

.modal-backdrop {
    bottom: 0;
    position: fixed;
}

&.has-spinner {
    color: transparent !important;
    position: relative;
}

.clearfix label {
    line-height: 34px;
}

html {
    font-size: 1rem;
    height: 100%;
}

body {
    font-family: 'FuturaCondensedNormal';
    height: 100%;
}

a {
    color: white;

    &:focus {
        color: white;
        text-decoration: none;
    }

    &:hover {
        color: white;
    }
}

ul, li {
    list-style-type: none;
    padding:0;
    margin:0;
}

nav {
    background-color: #383838;
    color: white;
    filter: alpha(opacity=70);
    font-size: 1rem;
    line-height: 2em;
    opacity: 0.7;
    padding: 10px 0px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;

    li {
        cursor: pointer;
        display: inline;
        padding: 0px 20px;

        &:hover {
            color: #bebebe;
        }
    }
}

.block {
    height: 100%;
    overflow: hidden;
}

.table {
    display: table;
    height: 100%;
    margin-bottom: 0px;
}

.cell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.heading {
    font-family: 'Desdemona';
    font-size: 5rem;
    line-height: 1em;
    margin-bottom: 60px;
    text-align: center;
}

.top {

    background-color: @purple;
    color: white;

    >div {
        display: table;
        >div {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .names {
        font-family: 'Desdemona';
        font-size: 4rem;
    }

    .date {
        font-size: 3rem;
    }
}

.event-info {
    background-color: @green;

    .heading {
        color: @purple;
    }

    
    .map-wrap, .content-wrap {
        height: 50%;
    }

    .content-wrap {
        display: table;
    }

    .content {
        display: table-cell;
        vertical-align: middle;
    }

    .sub-heading {
        color: @pink;
        font-size: 2.75rem;
    }
    
    .text {
        color: white;
        font-size: 1.25rem;
        margin-left: 10px;
    }
    
    .pink-text {
        color: @pink;
        font-size: 1.75rem;
    }
}

.registry {

    background-color: @pink;
    color: white;
    font-size: 2em;
    text-align: center;

    .heading {
        color: @darkgreen;
    }

}

.rehearsal {

    background-color: @darkgreen;
    color: white;
    font-size: 2rem;

    a {
        color: @pink;
    }

    >div>div+div {
        margin-top: 30px;
    }

    span {
        margin: 0px 5px;
    }

    .heading {
        color: @pink;
        font-size: 5rem;
    }

    .pinkball {
        background-color: @pink;
        border: 1px solid white;
        border-radius: 10px;
        display: inline-block;
        height: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        width: 10px;
    }

    .thing+.thing {
        margin-top: 15px;
    }
}

.accomodations {

    background-color: white;
    color: @darkgreen;
    font-size: 2rem;

    .heading {
        color: @purple;
        font-size: 4rem;
        margin-bottom: 30px;
    }

    .sub-heading {
        font-size: 1.5rem;
        margin-bottom: 15px;

        span {
            &:nth-child(2) {
                font-weight: bold;
            }
        }
    }

    .hotels {
        font-size: 1.5rem;

        .hotel {

            &.condo a {
                display: block;
            }
        }
    }

    a {
        color: @purple;
    }

    svg {
        display: block;
        margin: 20px auto;
    }
}

.rsvp {
    background-color: @purple; 
    color: white;
    text-align: center;

    .heading {
        margin-bottom: 30px;
    }

    .sub-heading {
        font-size: 4rem;
        margin-bottom: 50px;
        text-align: center;
    }

    .my-btn {
        font-size: 4rem;

        &:focus,
        &:hover {
            color: @purple;
        }
    }
}

.about {
    background-color: @green;

    .heading {
        color: @purple;
    }

    .text {
        font-size: 2rem;
        text-align: center;

        div+div {
            margin-top: 30px;
        }

        >div:nth-child(even) {
            color: white;
        }

        >div:nth-child(odd) {
            color: @pink;
        }
    }
}

.rehearsal-link {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.mobile-menu-btn {
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: white;
    display: none;
    font-size: 2rem;
    padding: 9px 10px 6px 10px;
    position: absolute;
    top: 8px;
    right: 15px;
}

.my-btn {
    background-color: transparent;
    border: 1px solid;
    outline: none;

    &:focus,
    &:hover {
        background-color: white;
    }
}

@media (max-height: 500px) {

    html {
        font-size: .75rem;
    }

    .event-info .heading {
        margin-bottom: 10px;
    }
}

@media (max-width: 785px) {

    html {
        font-size: .5rem;
    }

    nav {
        background-color: transparent;
        padding: 0px;

        ul {
            display: none;

            li {
                background-color: #383838;
                display: block;
                font-size: 1.5rem;
                padding: 15px 0px;
            }
        }
    }

    .mobile-menu-btn {
        background-color: #383838;
        cursor: pointer;
        display: inline-block;
        z-index: 100;
    }

    .event-info {

        iframe {
            max-width: 400px;
            display: block;
            margin: auto;
        }

        .heading {
            margin-bottom: 40px;
        }

        .content {
            text-align: center!important;
        }

        .map-wrap, .content-wrap {
            height: 40%;
        }

        .sub-heading {
            color: @pink;
            font-size: 5rem;
            margin-top: 10px;
        }
        
        .text {
            color: white;
            font-size: 2.5rem;
            margin-left: 10px;
        }
        
        .pink-text {
            color: @pink;
            font-size: 2.5rem;
        }

    }
    
    .rehearsal {
        font-size: 2.5rem;
    }

    .accomodations {

        font-size: 3rem;

        .heading {
        }

        .sub-heading {
        }

        .hotels {
            
            >div:first-child {
                font-size: 2.5rem;
            }

            line-height: 2rem;
            text-align: center;

            .hotel {
                font-size: 1.75rem;

                &.condo {
                    margin-top: 15px;
                }
            }
        }

        .other-options {
            text-align: center;
        }

        svg {
            display: block;
            margin: 20px auto;
        }
    }
}
