@font-face {
  font-family: 'FuturaCondensedMedium';
  font-weight: 400;
  src: url('/static/fonts/Futura-CondensedMedium.ttf');
}

.modal-backdrop {
    bottom: 0;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    height: 100%;
}

ul, li {
    list-style-type: none;
    padding:0;
    margin:0;
}

nav {
    font-size: 2rem;
    line-height: 3em;
    text-align: center;
}
