@font-face {
  font-family: 'FuturaCondensedNormal';
  font-weight: 400;
  src: url('/static/fonts/FuturaCondensedNormal.woff') format('woff');
}
@font-face {
  font-family: 'Desdemona';
  font-weight: 400;
  src: url('/static/fonts/desdemona.ttf') format('truetype'), url('/static/fonts/desdemona.woff') format('woff');
}
.modal-backdrop {
  bottom: 0;
}
html {
  font-size: 1rem;
  height: 100%;
}
body {
  font-family: 'FuturaCondensedNormal';
  height: 100%;
}
a {
  color: white;
}
a:focus {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav {
  background-color: #383838;
  color: white;
  filter: alpha(opacity=70);
  font-size: 1rem;
  line-height: 2em;
  opacity: 0.7;
  padding: 10px 0px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 100;
}
nav li {
  cursor: pointer;
  display: inline;
  padding: 0px 20px;
}
nav li:hover {
  color: #bebebe;
}
.block {
  height: 100%;
  overflow: hidden;
}
.table {
  display: table;
  height: 100%;
  margin-bottom: 0px;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}
.heading {
  font-family: 'Desdemona';
  font-size: 5rem;
  line-height: 1em;
  margin-bottom: 60px;
  text-align: center;
}
.top {
  background-color: #503952;
  color: white;
}
.top > div {
  display: table;
}
.top > div > div {
  display: table-cell;
  vertical-align: middle;
}
.top .names {
  font-family: 'Desdemona';
  font-size: 4rem;
}
.top .date {
  font-size: 3rem;
}
.event-info {
  background-color: #68a390;
}
.event-info .heading {
  color: #503952;
}
.event-info .sub-heading {
  color: #ddb7ac;
  font-size: 2.75rem;
}
.event-info .text {
  color: white;
  font-size: 1.25rem;
  margin-left: 10px;
}
.event-info .pink-text {
  color: #ddb7ac;
  font-size: 1.75rem;
}
.registry {
  background-color: #ddb7ac;
  color: white;
  font-size: 2em;
  text-align: center;
}
.registry .heading {
  color: #2b4444;
}
.rehearsal {
  background-color: #2b4444;
  color: white;
  font-size: 2rem;
}
.rehearsal > div > div + div {
  margin-top: 30px;
}
.rehearsal span {
  margin: 0px 5px;
}
.rehearsal .heading {
  color: #ddb7ac;
  font-size: 5rem;
}
.rehearsal .pinkball {
  background-color: #ddb7ac;
  border: 1px solid white;
  border-radius: 10px;
  display: inline-block;
  height: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 10px;
}
.accomodations {
  background-color: white;
  color: #2b4444;
  font-size: 2rem;
}
.accomodations .heading {
  color: #503952;
}
.accomodations svg {
  margin: 10px 0px;
}
.rsvp {
  background-color: #503952;
  color: white;
}
.rsvp .text-center {
  font-size: 4rem;
}
.about {
  background-color: #68a390;
}
.about .heading {
  color: #503952;
}
.about .text {
  font-size: 2rem;
  text-align: center;
}
.about .text div + div {
  margin-top: 30px;
}
.about .text > div:nth-child(even) {
  color: white;
}
.about .text > div:nth-child(odd) {
  color: #ddb7ac;
}
.rehearsal-link {
  cursor: pointer;
}
.rehearsal-link:hover {
  text-decoration: underline;
}
.mobile-menu-btn {
  background-color: transparent;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: white;
  font-size: 2rem;
  float: right;
  margin: 8px 15px 8px 0px;
  padding: 9px 10px 6px 10px;
}
@media (max-height: 500px) {
  html {
    font-size: .75rem;
  }
  .event-info .heading {
    margin-bottom: 20px;
  }
}
@media (max-width: 785px) {
  html {
    font-size: .5rem;
  }
  iframe {
    display: none;
  }
  nav {
    background-color: transparent;
  }
  .mobile-menu-btn {
    background-color: #383838;
  }
  .event-info .content {
    text-align: center!important;
  }
  .event-info .sub-heading {
    color: #ddb7ac;
    font-size: 4rem;
  }
  .event-info .text {
    color: white;
    font-size: 2rem;
    margin-left: 10px;
  }
  .event-info .pink-text {
    color: #ddb7ac;
    font-size: 3rem;
  }
  .rehearsal {
    font-size: 2.5rem;
  }
  .accomodations {
    font-size: 3rem;
  }
  .accomodations .hotels {
    text-align: center;
  }
  .accomodations .hotels div {
    display: inline-block;
  }
  .accomodations .airport {
    text-align: center;
  }
  .accomodations svg {
    display: block;
    margin: 20px auto;
  }
}
