<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bundle.css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{#if isProd}}
            <script src="/static/js/bundle.js"></script>
        {{else}}
            <script src="/static/js/vendor.js"></script>
            <script src="/static/js/debug.js"></script>
        {{/if}}

        <title>{{title}}</title>
    </head>
    <body class="container-fluid">
        <nav class="row">
            <button id="mobile-menu" type="button" class="mobile-menu-btn">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <ul id="nav-list">
                <li data-nav="top">A + C</li>
                <li data-nav="event-info">Event Info</li>
                <li data-nav="registry">Registry</li>
                <li data-nav="rehearsal">Rehearsal Party</li>
                <li data-nav="accomodations">Accommodations</li>
                <li data-nav="rsvp">RSVP</li>
                <li data-nav="about">About Us</li>
            </ul>
        </nav>
        <div data-content="top" class="row top block">
            <div class="col-sm-offset-1 col-sm-6 block col-xs-6">
                <div class="text-right">
                    <div class="names">Alex and Chris</div>
                    <div class="date">09.24.2016</div>
                </div>
            </div>
            <div class="col-sm-5 block col-xs-6">
                <div>
                    <svg version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                         x="0px" y="0px" width="77px" height="237px" viewBox="-17.684 -23.363 77 237"
                         overflow="visible" enable-background="new -17.684 -23.363 77 237" xml:space="preserve">
                        <defs>
                        </defs>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="8.332" y1="177.937" x2="8.332" y2="65.27"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="16.333" y1="195.27" x2="16.333" y2="39.937"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="23.667" y1="116.332" x2="23.667" y2="77.666"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="23.667" y1="168.604" x2="23.667" y2="129.937"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="31" y1="155.333" x2="31" y2="0"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="39" y1="195.27" x2="39" y2="82.604"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="23.667" y1="47.604" x2="23.667" y2="8.937"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="39" y1="71.27" x2="39" y2="32.604"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="1" y1="174.604" x2="1" y2="19.271"/>
                    </svg>
                </div>
            </div>
        </div>
        <div data-content="event-info" class="row event-info block">
            <div class="table">
                <div class="cell">
                    <div class="heading">Event Info</div>
                    <div class="col-sm-offset-1 col-sm-6 map-wrap">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZXJZGFBj5e5V59swy-zPQgY3aqZJcMGI&q=700+Cottageview+Dr,+Traverse+City,+MI+49684&center=44.7618911,-85.6286619&zoom=14" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen"></iframe>
                    </div>
                    <div class="col-sm-offset-1 col-sm-3 text-left col-xs-8 col-xs-offset-2 content-wrap">
                        <div class="content">
                            <div class="sub-heading">Kirkbride Hall</div>
                            <div class="text">700 Cottageview Dr.</div>
                            <div class="text">Traverse City, MI 49684</div>
                            <div class="pink-text">Ceremony at 3:30</div>
                            <div class="pink-text">Music Starts at 2:30</div>
                            <div class="text">Dinner and Dancing to follow</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-content="registry" class="row block registry">
            <div class="table">
                <div class="cell">
                    <div class="heading">Registry</div>
                    <div>
                        <a href="http://www1.macys.com/registry/wedding/guest/?registryId=6501355" target="_blank">Macy's</a>
                    </div>
                    <svg version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                     xml:space="preserve" style="height:13px;width:203px;margin:10px 0px;">
                        <defs>
                        </defs>
                        <g transform="scale(1.5)">
                            <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="134.835" y1="0.5" x2="34.302" y2="0.5"/>
                            <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="100.533" y1="4.221" x2="0" y2="4.221"/>
                            <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="126.421" y1="7.943" x2="56.63" y2="7.943"/>
                        </g>
                    </svg>
                    <div>
                        <a href="https://smile.amazon.com/registry/wedding/AVY09O0FRQPG" target="_blank">Amazon</a>
                    </div>
                    <svg version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                     xml:space="preserve" style="height:13px;width:203px;margin:10px 0px;">
                        <defs>
                        </defs>
                        <g transform="scale(1.5)">
                            <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="134.835" y1="0.5" x2="34.302" y2="0.5"/>
                            <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="100.533" y1="4.221" x2="0" y2="4.221"/>
                            <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="126.421" y1="7.943" x2="56.63" y2="7.943"/>
                        </g>
                    </svg>
                    <div>
                        <a href="https://www-secure.target.com/gift-registry/giftgiver?registryId=qqoAlMDf_XEsNzzpzUCejw" target="_blank">Target</a>
                    </div>
                </div>
            </div>
        </div>
        <div data-content="rehearsal" class="row rehearsal block">
            <div class="table">
                <div class="cell">
                    <div class="heading">Rehearsal Party</div>
                    <div class="col-sm-offset-3 col-sm-6 text-center">
                        <div class="thing">
                            <div>Those who are coming from out of town are </div>
                            <div>invited to dinner and celebration on Friday night.</div>
                            <div>Please RSVP</div>
                        </div>
                        <div class="thing">
                            <span>Friday</span>
                            <span class="pinkball"></span>
                            <span>9.23.2016</span>
                            <span class="pinkball"></span>
                            <span>6:30 PM</span>
                        </div>
                        <div class="thing">
                            <div>
                                <span>Location: </span>
                                <a target="_blank" href="http://park-place-hotel.com">Top of the Park at the Park Place Hotel</a>
                            </div>
                            <div>300 E State St, 10th floor</div>
                            <div>Traverse City, MI 49684</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-content="accomodations" class="row block accomodations">
            <div class="table">
                <div class="cell">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="heading">Accommodations</div>
                        <div class="sub-heading">
                            <span>We suggest making hotel reservations</span>
                            <span> as early as possible.</span>
                            <span>  Traverse City is a popular tourist destination, and September remains a busy season for the area.  We have blocked rooms at two hotels, but feel free to explore other options.</span>
                        </div>
                        <div class="row hotels">
                            <div class="col-sm-3">Hotels:</div>
                            <div class="col-sm-4 col-xs-6 hotel">
                                <div>
                                    <a href="http://www.bayshore-resort.com" target="_blank">Bayshore Resort</a>
                                </div>
                                <div>Group: Gillett/Baron Wedding</div>
                                <div>Reserve by July 23, 2016</div>
                            </div>
                            <div class="col-sm-4 col-xs-6 hotel">
                                <div>
                                    <a href="http://www.westbaybeachresorttraversecity.com" target="_blank">West Bay Beach, A Holiday Inn Resort</a>
                                </div>
                                <div>Gillett & Baron Wedding Accommodations</div>
                                <div>Reserve by August 9, 2016</div>
                            </div>
                        </div>
                        <svg version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                         xml:space="preserve" style="height:13px;width:203px;">
                            <defs>
                            </defs>
                            <g transform="scale(1.5)">
                                <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="134.835" y1="0.5" x2="34.302" y2="0.5"/>
                                <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="100.533" y1="4.221" x2="0" y2="4.221"/>
                                <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="126.421" y1="7.943" x2="56.63" y2="7.943"/>
                            </g>
                        </svg>
                        <div class="row hotels">
                            <div class="col-sm-3">Other Options:</div>
                            <div class="col-sm-4 hotel">
                                <div>
                                    <a href="http://www.traversecity.com" target="_blank">Traverse City Tourism</a>
                                </div>
                                <div>Visitor information, hotel listings</div>
                                <div>231-947-1120</div>
                            </div>
                            <div class="col-sm-5 hotel condo">
                                <div>If you want to stay in a house/condo for a group:</div>
                                <div class="row text-center">
                                    <a target="_blank" href="http://www.airbnb.com">AirBnB</a>
                                    <a target="_blank" href="http://www.vrbo.com">VRBO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-content="rsvp" class="row block rsvp">
            <div class="table">
                <div class="cell">
                    <div class="heading">RSVP</div>
                    <div class="sub-heading">Please RSVP by August 13th!</div>
                    <div class="col-xs-offset-1 col-xs-5">
                        <button id="weddingRSVP" class="btn my-btn" type="button">Wedding</button>
                    </div>
                    <div class="col-xs-5">
                        <button id="rehearsalRSVP" class="btn my-btn" type="button">Rehearsal</button>
                    </div>
                </div>
            </div>
        </div>
        <div data-content="about" class="row block about">
            <div class="table">
                <div class="cell">
                    <div class="heading">About Us</div>
                    <div class="col-sm-offset-3 col-sm-6 text">
                        <div>In 2011, Alex and Chris met playing soccer in Chicago.</div>
                        <div>Alex watched Chris hurt his knee.</div>
                        <div>Chris asked Alex out after group-hanging at a ping pong bar.</div>
                        <div>Now they have two cats and live in Grand Rapids, MI where they are plotting to start a farm.</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        <h4 id="modalTitle" class="modal-title"></h4>
                    </div>
                    <div id="modalBody" class="modal-body">
                        <form>
                            <div class="form-group"
                                <label>Name(s) attending</label>
                                <input type="text" class="form-control" id="names">
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="accepts" type="checkbox"> Happily Accepts
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="declines" type="checkbox"> Regretfully Decline
                                    </label>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="pull-left">Number attending</label>
                                <div class="col-xs-3 pull-right">
                                    <input type="text" class="form-control" maxlength="1" id="number">
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label class="pull-left">Number of Vegans/Vegetarians</label>
                                <div class="col-xs-3 pull-right">
                                    <input type="text" class="form-control" maxlength="1" id="veg">
                                </div>
                            </div>
                        <form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="rsvpBtn" type="button" class="btn btn-primary">RSVP</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
