<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bundle.css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="/static/js/bundle.js"></script>

        <title>{{title}}</title>
    </head>
    <body class="container-fluid">
        <nav>
            <ul>
                <li data-nav="top">A + C</li>
                <li data-nav="event-info">Event Info</li>
                <li data-nav="registry">Registry</li>
                <li data-nav="rehearsal">Rehearsal Party</li>
                <li data-nav="accomodations">Accomodations</li>
                <li data-nav="rsvp">RSVP</li>
                <li data-nav="about">About Us</li>
            </ul>
        </nav>
        <div data-content="top" class="row top block">
            <div class="col-sm-offset-1 col-sm-6 block">
                <div class="text-right">
                    <div class="names">Alex and Chris</div>
                    <div class="date">09.24.2016</div>
                </div>
            </div>
            <div class="col-sm-5 block">
                <div>
                    <svg version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                         x="0px" y="0px" width="77px" height="237px" viewBox="-17.684 -23.363 77 237"
                         overflow="visible" enable-background="new -17.684 -23.363 77 237" xml:space="preserve">
                        <defs>
                        </defs>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="8.332" y1="177.937" x2="8.332" y2="65.27"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="16.333" y1="195.27" x2="16.333" y2="39.937"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="23.667" y1="116.332" x2="23.667" y2="77.666"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="23.667" y1="168.604" x2="23.667" y2="129.937"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="31" y1="155.333" x2="31" y2="0"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="39" y1="195.27" x2="39" y2="82.604"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="23.667" y1="47.604" x2="23.667" y2="8.937"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="39" y1="71.27" x2="39" y2="32.604"/>
                        <line fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="1" y1="174.604" x2="1" y2="19.271"/>
                    </svg>
                </div>
            </div>
        </div>
        <div data-content="event-info" class="row event-info block">
            <div class="table">
                <div class="cell">
                    <div class="heading">Event Info</div>
                    <div class="col-sm-offset-8 col-sm-3 text-left">
                        <div class="sub-heading">Kirkbride Hall</div>
                        <div class="text">700 Cottageview Dr.</div>
                        <div class="text">Traverse City, MI 49684</div>
                        <div class="pink-text">Ceremony at 4:30pm</div>
                        <div class="text">Dinner and Dancing to follow</div>
                        <svg version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                         xml:space="preserve" style="height:13px;width:203px;margin:10px 0px;">
                            <defs>
                            </defs>
                            <g transform="scale(1.5)">
                                <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="134.835" y1="0.5" x2="34.302" y2="0.5"/>
                                <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="100.533" y1="4.221" x2="0" y2="4.221"/>
                                <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="126.421" y1="7.943" x2="56.63" y2="7.943"/>
                            </g>
                        </svg>
                        <div class="pink-text">Please join us at our Rehearsal Party on Friday!</div>
                        <div class="text">Click here for more info</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-content="registry" class="row block registry">
            <div class="table">
                <div class="cell">
                    <div class="heading">Registry</div>
                    <div>Macy's</div>
                    <svg version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                     xml:space="preserve" style="height:13px;width:203px;margin:10px 0px;">
                        <defs>
                        </defs>
                        <g transform="scale(1.5)">
                            <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="134.835" y1="0.5" x2="34.302" y2="0.5"/>
                            <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="100.533" y1="4.221" x2="0" y2="4.221"/>
                            <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="126.421" y1="7.943" x2="56.63" y2="7.943"/>
                        </g>
                    </svg>
                    <div>Amazon</div>
                    <svg version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                     xml:space="preserve" style="height:13px;width:203px;margin:10px 0px;">
                        <defs>
                        </defs>
                        <g transform="scale(1.5)">
                            <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="134.835" y1="0.5" x2="34.302" y2="0.5"/>
                            <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="100.533" y1="4.221" x2="0" y2="4.221"/>
                            <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="126.421" y1="7.943" x2="56.63" y2="7.943"/>
                        </g>
                    </svg>
                    <div>Target</div>
                </div>
            </div>
        </div>
        <div data-content="rehearsal" class="row rehearsal block">
            <div class="table">
                <div class="cell">
                    <div class="heading">Rehearsal Party</div>
                    <div class="col-sm-offset-3 col-sm-6 text-center">
                        <div>
                            <span>Friday</span>
                            <span class="pinkball"></span>
                            <span>9.23.2016</span>
                            <span class="pinkball"></span>
                            <span>7:00pm</span>
                        </div>
                        <div>
                            <div>Please join us for dinner and celebration</div>
                            <div>on Friday night before our wedding.</div>
                        </div>
                        <div>Location: TBD</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-content="accomodations" class="row block accomodations">
            <div class="table">
                <div class="cell">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="heading">Accomodations and Travel</div>
                        <div class="row">
                            <div class="col-sm-2">Hotels:</div>
                            <div class="col-sm-10">TBD</div>
                        </div>
                        <svg version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                         xml:space="preserve" style="height:13px;width:203px;margin:10px 0px;">
                            <defs>
                            </defs>
                            <g transform="scale(1.5)">
                                <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="134.835" y1="0.5" x2="34.302" y2="0.5"/>
                                <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="100.533" y1="4.221" x2="0" y2="4.221"/>
                                <line fill="#FFFFFF" stroke="#503A51" stroke-miterlimit="10" x1="126.421" y1="7.943" x2="56.63" y2="7.943"/>
                            </g>
                        </svg>
                        <div class="row">
                            <div class="col-sm-2">Airports:</div>
                            <div class="col-sm-10">Cherry Capital Airport (TVC)</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">Gerry R. Ford Airport (GRR)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-content="rsvp" class="row block rsvp">
            <div class="table">
                <div class="cell">
                    <div class="heading">RSVP</div>
                    <div class="text-center">Coming Soon!</div>
                </div>
            </div>
        </div>
        <div data-content="about" class="row block about">
            <div class="table">
                <div class="cell">
                    <div class="heading">About Us</div>
                    <div class="col-sm-offset-3 col-sm-6 text">
                        <div>In 2011, Alex and Chris met playing soccer in Chicago.</div>
                        <div>Alex watched Chris hurt his left knee ( the first time ).</div>
                        <div>Chris asked Alex out after group-hanging at a ping pong bar.</div>
                        <div>Now they have two cats and live in Grand Rapids, MI where they are plotting to start a farm.</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
